*{
    font-family: 'Times New Roman', Arial, Helvetica, sans-serif, serif;

 
}
body{
    background-image: url('./cover-images/body.jpg');
    background-size: cover;
    background-position: center;
}
h1{
    text-align: center;
    margin-top:70px;
    color:#340aaa
}
h2{
    text-align: center;
    color:#1b025e;
    font-size: 2rem;
    
}
h1,
 h2{
    font-family: nordic;
}
.para{
    max-width:800px;
    background-color: rgba(243, 220, 145, 0.3);
    margin:0 auto;
    padding:10px;
    text-align: left;
    color:#222;
    font-size: 1.5rem;
    font-weight:530;
    border-radius: 5px;
}
.container{
    background-color: rgba(243, 220, 145, 0.2);
    max-width: 1600px;
    min-width: 600px;
    padding:40px;
    margin: 0 auto;
    border-radius: 15px;
    box-sizing: border-box;
    text-align:center ;
}
.menu{
    max-width:400px;
    height:450px;
    margin:30px 40px 80px 40px ;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
}
a {
    font-size: 2rem;
    font-weight:bold;
    color:#2e2929;
    text-decoration: none;
}
a img:hover{
    width:360px;
    height:360px;
}
a h4:hover{
    color:#443277;
    text-decoration: underline;
}
div img{
    width:350px;
    height:350px;
    border-radius: 30px;
}
