*{
    font-family: 'Times New Roman', Arial, Helvetica, sans-serif, serif;
    color:purple;
 
}
body{
}
h1{
    text-align: center;
    margin-top:70px;
}
.container{
    width: 1600px;
    padding:30px;
    margin: 0 auto;
    border:1px solid black;
    text-align: center;
    box-sizing: border-box;
}
.menu{
    background-color: rgba(228, 214, 214, 0.4);
    width:400px;
    height:550px;
    padding:20px;
    margin:30px 30px 80px 30px ;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid purple;

    
}
.menu a{
    font-size: 2rem;
    font-weight:bold;
    color: purple;
    text-decoration:none;


}
div img{
    width:350px;
    height:350px;
    border-radius: 30px;
}