body{
   background-image: url("./siwa.jpg");
   background-position:center;
   background-size:cover;

}
.main{
  width: min(100%-2rem,600px);
  margin-inline:auto;
  height:100%;
  padding:20px;
  background:linear-gradient(rgba(110, 81, 53, 0.6)50%, rgba(110, 81, 53, 0.6)50%);
  font-size:25px;
  font-family:sans-serif;
  font-weight:bolder;
  color:#0f0e0d;
}
.main h1,h2{
  text-align: center;
  font-size: 35px;
  font-family:Norse;
  font-weight:bold;
  text-decoration: underline;
  color:#751f00;
}
a{
  text-decoration:none;
  color:#03204d
;
}
a:hover{
  font-weight:lighter;
  transition:0.5s ease;
}
.credit{
  font-size:15px;
}